<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>つぶやき投稿画面 | スモールスタート</title>
</head>
<body>
	<h2 class="title">投稿するつぶやきのタイトル、内容</h2>

	<form th:action="@{/snssns/posting}" th:object="${postingForm}">
	<!-- 投稿記事タイトル入力フォーム -->
		<label> <span class="input_title"> タイトル </span> <textarea
				name="title" rows="1" th:field="*{title}"></textarea>
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
			<span style="color: red"></span><br />
		</label> 
		
		<!-- 投稿内容登録フォーム -->
		<label> <span class="input_title">投稿内容</span> <textarea
				name="contents" rows="6" th:field="*{contents}" style="color: red"></textarea>
			<div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
		</label>
		 <input type="submit" value="投稿内容確認画面へ" class="send_button" />
	</form>

	<!-- 記事一覧へ戻るボタン -->
	<form th:action="@{/snssns/findAll}">
		<input type="submit" value="記事一覧画面へ戻る" class="back_button" />
	</form>
</body>
</html>