<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>ちょいブログ</title>
</head>
<body>
	<h3>ブログシステム</h3>
	<p class="error" th:text="${errMessage}"></p>

	<div>記事一覧</div> <div class="posting_sort">
        <h1>並び替え</h1>
        <select>
            <option value="00"></option>
            <option
                th:each="sortList : ${sortList}"
                th:value="${sortList.code}"
                th:text="${sortList.name}"
                th:selected="${sortList.code == selectedValue}">
            </option>
        </select>
    </div>
	<table>
		<tr>
			<th>投稿日</th>
			<th>タイトル</th>
			<th>投稿内容</th>
			<!-- 			<th>いいね！</th> -->
			<th>コメント一覧</th>
				<th:block th:if="${session.usersAuthority == 2}">
			<th>コメント投稿</th></th:block>
			<th:block th:unless="${session.users == 0}">
			<th>コメント投稿</th></th:block>
		</tr>
		<tr th:each="posting: ${session.posting}">
			
			<td style="text-align: center;"  th:text="${#dates.format(posting.insertDate, 'yyyy/MM/dd/hh:mm:ss')}"></td>
			<td style="text-align: center;" th:text="${posting.title}"></td>
			<td style="text-align: center;" th:text="${posting.contents}"></td>

			<td>
				<div style="text-align: center;">
					<form th:action="@{/comment/list/{id}(id=${posting.id})}">
						<input type="submit" value="この記事のコメントを見る" />
					</form>
				</div>
			</td>

			<!-- コメントするボタン（ログインした場合のみ表示） -->
			<th:block th:if="${session.usersAuthority == 2}">
				<dd class="link_area">
				<td><form action="/snssns/comments">
						<div style="text-align: center;">
							<input type="hidden" name="id" th:value="${posting.id}" /> <input
								type="submit" value="コメントする" />
			</div>		</form></td>
			
			</th:block>
			
			<!-- ログインしてコメントするボタン（ログインしていない場合のみ） -->
			<th:block th:unless="${session.users}">
				<dd class="link_area">
				<td><form action="/snssns/comments">
						<div style="text-align: center;">
							<input type="hidden" name="id" th:value="${posting.id}" /> <input
								type="submit" value="ログインして、コメントする" />
			</div>		</form></td>
			
			</th:block>
		
		</tr>
	</table>
	<th:block th:if="${session.users}">
		<div>
			<a href="/snssns/posts">投稿する</a>
		</div>
	</th:block>

	</th:block>
	<!-- もしいいねしていたら -->
	<!-- list.contains()メソッドでその投稿にいいねしているかチェック-->
	<!-- <th:block th:if="${myLikes.contains(post.postId) == true}"> -->
	<!-- ぬりつぶされたハートアイコンを表示 -->
	<!-- <a th:href="@{/like/__${post.postId}__}"><i class="fas fa-heart fa-2x pink-text text-accent-2"></i></a> -->
	<!-- いいねの総数を表示 -->
	<!-- Map.get()メソッド -->
	<!-- 角かっこの抜いたところ２つあり -->
	<!-- </th:block> -->

	<!-- いいねしていなかったら -->
	<!-- <th:block th:unless="${myLikes.contains(post.postId) == true}"> -->
	<!-- 枠線のみのハートアイコンを表示 -->
	<!-- <a th:href="@{/like/__${post.postId}__}"><i class="far fa-heart fa-2x pink-text text-accent-2"></i></a> -->
	<!-- いいねの総数を表示 -->

	<!-- </th:block> -->


</body>
</html>