<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>

<meta charset="UTF-8" />
<title>近況</title>
</head>
<body>
	<h3 >みんなの近況！</h3>
	<p class="error" th:text="${errMessage}"></p>

	<div>記事一覧</div> <div class="posting_sort">
        <span>並び替え</span> 
        <th:block th:if="${sortNumber == 2}">
        <a >新着順</a></th:block>
        <th:block th:if="${sortNumber != 2}">
        <a href="/sns/newSort">新着順</a></th:block>
        <th:block th:if="${sortNumber == 3}">
        <a >古い順</a></th:block>
        <th:block th:if="${sortNumber != 3}">
        <a href="/sns/oldSort">古い順</a></th:block>
         <th:block th:if="${sortNumber == 4}">
        <a >コメント数が多い順</a></th:block>
        <th:block th:if="${sortNumber != 4}">
        <a href="/sns/commentManySort">コメント数が多い順</a></th:block>
          <th:block th:if="${sortNumber == 5}">
        <a >コメント数が少ない順</a></th:block>
        <th:block th:if="${sortNumber != 5}">
        <a href="/sns/commentLessSort">コメント数が少ない順</a></th:block>
        <div 
				th:if="${session.user == null or session.user.authority == 2}">
				<a class="title">近況タイトル検索</a>
				<div class="form">
					<!-- 商品一覧画面以外で表示 -->
				<form th:action="@{/postingTitle/search}" method="get">
					<input type="text" name="title"> <input type="submit"
						value="検索">
				</form>
			 </div>	
    </div>
   <!--  <form class="row s12" th:action="@{/postingName/search}"
								th:object="${swords}" method="post">
								<div class="input-field">
									<i class="material-icons prefix">search</i> <input
										id="input_text" type="text" data-length="10"
										th:field="*{word}"> <label for="icon_prefix2">検索ワード</label>
									<div class="col s12 center">
										<button class="waves-effect waves-light btn">検索</button>
									</div>
								</div>
							</form> -->
    
	<table>
		<tr>
			<th>投稿日</th>
			<th>タイトル</th>
			<th>投稿内容</th>
			<th>コメント一覧</th>
				<th:block th:if="${session.usersAuthority == 2}">
			<th>コメント投稿</th></th:block>
			<th:block th:unless="${session.users == 0}">
			<th>コメント投稿</th></th:block>
		</tr>
		<tr th:each="posting: ${posting}">
			
		<!-- <td style="text-align: center;"  th:text="${#dates.format(posting.insertDate, 'yyyy/MM/dd/hh:mm')}"></td> -->
		<td style="text-align: center;"  th:text="${#temporals.format(posting.insertDate, 'yyyy/MM/dd HH:mm')}"></td>
			<td style="text-align: center;" th:text="${posting.title}"></td>
			<td style="text-align: center;" th:text="${posting.contents}"></td>

			<td>
				<div style="text-align: center;">
					<form th:action="@{/comment/list/{id}(id=${posting.id})}">
						<input type="submit" value="この記事のコメントを見る" />
					</form>
				</div>
			</td>

			<!-- コメントするボタン（ログインした場合のみ表示） -->
			<th:block th:if="${session.users}">
				<dd class="link_area">
				<td><form action="/snssns/commentPage">
						<div style="text-align: center;">
							<input type="hidden" name="id" th:value="${posting.id}" /> <input
								type="submit" value="コメントする" />
			</div>		</form></td>
			
			</th:block>
			
			<!-- ログインしてコメントするボタン（ログインしていない場合のみ） -->
			<th:block th:unless="${session.users}">
				<dd class="link_area">
				<td><form action="/snssns/index">
						<div style="text-align: center;">
							<input type="hidden" name="id" th:value="${posting.id}" /> <input
								type="submit" value="ログインして、コメントする" />
			</div>		</form></td>
			
			</th:block>
		
		</tr>
	</table>
	<th:block th:if="${session.users}">
		<div>
			<a href="/snssns/posts">投稿する</a>
		</div>
	</th:block>

	</th:block>
	
</body>
</html>