<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>会員詳細 | スモールスタート</title>
</head>
<body>
	<h2 class="title">会員詳細</h2>
	<div class="user_detail_area">
		<ul class="input_list">
			<li><span class="input_title">会員名</span> <span
				class="input_value" th:text="${users.userName}"></span></li>
			<li><span class="input_title">今月の目標</span> <span
				class="input_value" th:text="${users.monthGoal}"></span></li>
			<th:block th:if="${session.users}">
				<div>
					<a href="/sns/monthGoal/input">更新する</a>
				</div>
			</th:block>

			<li><span class="input_title">今週の目標</span> <span
				class="input_value" th:text="${users.weekGoal}"></span></li>
			<th:block th:if="${session.users}">
				<div>
					<a href="/sns/weekGoal/input">更新する</a>
				</div>
			</th:block>

			<li><span class="input_title">今日の目標</span> <span
				class="input_value" th:text="${users.dayGoal}"></span></li>

			<th:block th:if="${session.users}">
				<div>
					<a href="/sns/dailyGoal/input">更新する</a>
				</div>
			</th:block>

		</ul>
	</div>

	<div class="detail_button_area">
		<form th:action="@{/snssns/findAll}">
			<input type="submit" value="戻る" />
		</form>
		<!-- <form th:action="@{/snssns/user/delete/check}" method="post">
			<input type="submit" value="退会する" class="delete" />
		</form> -->
	</div>
	<div>
		<!-- 	<a href="/sns/src/main/user/delete/check">退会する</a>  -->
		<a href="/snssns/user/delete/checks">退会する</a>
	</div>

</body>
</html>
