<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>会員詳細 | 習慣</title>
</head>
<body>
	<h2 class="title">会員詳細</h2>
	<div class="user_detail_area">
		<ul class="input_list">
			<li><span class="input_title">氏名</span> <span
				class="input_value" th:text="${users.userName}"></span></li>
		</ul>
	</div>

	<!-- <div class="detail_button_area">
		<form th:action="@{/}">
			<input type="submit" value="戻る" />
		</form>
		<form th:action="@{/user/update/input}" method="post">
			<input type="submit" value="変更" />
		</form>
		<form th:action="@{/user/delete/check}" method="post">
			<input type="submit" value="退会" class="delete" />
		</form>
	</div> -->

</body>
</html>