<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>ちょいブログ</title>
</head>
<body>
 <h2 class="title">会員新規登録</h2>
		 <div class="user_info_form_area"> 
			<form method="post" th:action="@{/user/regist/check}" th:object="${userForm}" class="user_info_form">
				 <ul th:if="${#fields.hasErrors('*')}"  th:class="input_list" >
  					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" th:class="error_list" ></li>
				</ul> 
					<ul class="input_list"> 
							<li> 
						 	<label>
								<span class="input_title">ユーザーid</span>
								<input type="text" name="userId" th:value="${userForm.userId}" />
							</label> 
						</li> 
						
						<li> 
						<label>
								<span class="input_title">パスワード</span>
								<input type="password" name="password" th:value="${userForm.password}" />
							</label> 
						</li>
					
					
					</ul> 
					<input type="hidden" name="authority" value="2" />
				<input type="submit" value="確認" class="send_button" /> 
	 	</form>  
		<!-- 一時的にホームに戻る -->
			<form th:action="@{/snssns/index}">
				<input type="submit" value="戻る" class="back_button"/>
			</form>
         </div>
</body>
</html>