<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div th:fragment="layout-header" class="container">
		<h3>近況</h3>
		<p class="error" th:text="${userDetailErrMessage}"></p>
		<th:block th:if="${session.users}">
			<div>
				ようこそ、<span th:text="${session.users.userName}"></span>さん     <a href="/sns/user/detail">会員詳細画面へ</a>
			</div>
			<a href="/snssns/logout">ログアウト</a>
		</th:block>
		<th:block th:unless="${session.users}">
			<a href="/snssns/index">ログイン</a> | <a th:href="@{/user/regist/input}">新規会員登録</a>
		</th:block>
		<div class="text-align-right">
			<a href="/snssns/findAll">記事一覧へ</a>
		</div>

	</div>
</body>
</html>