<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>コメント投稿画面 | ブログ</title>
</head>
<body>	
<h2 class="title">コメントする内容</h2>
<!-- エラーメッセージコントローラー表示用 -->
		<form th:action="@{/snssns/commentInput}" th:object="${commentForm}">

						<label>
							<span class="input_title">コメントする内容</span>
							<textarea name="commentContents" rows="6" th:field = "*{commentContents}" style="color: red"></textarea>
							<div th:if="${#fields.hasErrors('commentContents')}" th:errors="*{commentContents}"></div>

						</label> 
			<input type="submit" value="コメント内容確認画面へ" class="send_button" />
		</form>


<!-- 記事一覧へ戻るボタン -->
<form th:action="@{/snssns/findAll}">
			<input type="submit" value="記事一覧画面へ戻る" class="back_button"/>
		</form>
</body>
</html>