<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">

<head>
<meta charset="UTF-8">
<title>この投稿に関するコメント | スモールスタート</title>
</head>
<body>
	<h2 class="title">この記事に関するコメント</h2>
	<table>
		<tr>
			<th>コメント内容</th>
			<th>コメント</th>
		</tr>
		<tr th:each="comment: ${posting_comment}">
			<td th:text="${comment.insertDate}"></td>
			<td th:text="${comment.title}"></td>
			<td th:text="${comment.contents}"></td>
			<td><form action="/snssns/comments">
					<input type="hidden" name="id" th:value="${posting.id}" /> <input
						type="submit" value="コメントする" />
				</form></td>
		</tr>
	</table>
	<!-- 記事投稿画面へ戻るボタン -->
	<form th:action="@{/snssns/comments}">
		<input type="submit" value="コメント画面へ戻る" class="back_button" />
	</form>


</body>
</html>
