<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>ちょいブログ</title>
</head>
<body>
	<h3>ブログシステム</h3>
	<p class="error" th:text="${errMessage}"></p>


	<div>コメント一覧</div>
	<table>
		<tr>
			<th>投稿日</th>
			<th>タイトル</th>
			<th>投稿内容</th>
			
			<th>コメント一覧</th>
			<th>コメント投稿</th>
		</tr>
		<tr th:each="posting: ${session.posting}">
			<td th:text="${posting.insertDate}"></td>
			<td th:text="${posting.title}"></td>
			<td th:text="${posting.contents}"></td>
						<td th:text="${posting.contents}"></td>
			<td>
				<form th:action="@{/comment/list/{id}(id=${posting.id})}">
				<input type="submit" value="この記事のコメントを見る" />
			</form></td>
			<td><form action="/snssns/comments">
					<input type="hidden" name="id" th:value="${posting.id}" /> <input
						type="submit" value="コメントに返信する" />
				</form></td>
		</tr>
	</table>
	<th:block th:if="${session.users}">
		<div>
			<a href="/snssns/posts">コメントする</a>
		</div>
	</th:block>

	</th:block>

</body>
</html>