<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout2 :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>近況</title>
</head>
<body>
	<h3>近況</h3>
	<p class="error" th:text="${errMessage}"></p>

	<div>コメント一覧</div>
	<br>
	<table>
		<tr>
			<th>コメント投稿日</th>
			<th>コメント内容</th>
		</tr>
		<tr th:each="comment: ${posting_comment}">
			<td style="text-align: center;" th:text="${comment.insertDate}"></td>
			<td style="text-align: center;" th:text="${comment.commentContents}"></td>
			<td><form action="/snssns/comments">
					<input type="hidden" name="id" th:value="${comment.commentId}" />
					<input type="submit" value="コメントに返信する" />
				</form></td>
		</tr>
	</table>
	<th:block th:if="${session.users}">
		<div>
			<a href="/snssns/commentPage">コメントする</a>
		</div>
	</th:block>
	
	<th:block th:unless="${session.users != null }">
				<dd class="link_area">
				<td><form action="/snssns/index">
						<div style="text-align: right;">
							<input type="hidden" name="id" th:value="${posting_id}" /> 
							<input
								type="submit" value="ログインして、コメントする" />
			</div>		</form></td>
			
			</th:block>

	</th:block>

</body>
</html>